

    body {
        width: 100%;


    }
    
    .overlay {
        position: absolute;
        background: white;
        opacity: 1;
    }
    
    #videoContainer {
        position: absolute;

    outline:5px solid green;
        overflow: hidden;
       }

    
    #videos {
        position: relative;
        border-collapse: collapse;
}



.video-js {
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

td {

    background-size:     cover; 
    padding:0; margin:0;
}

tr{
    padding:0; margin:0;
}

/*#videoinfo td{
    max-width: 100;
}*/



