

    body {
        width: 100%;
        overflow-x:hidden;
        

    }
    
    .overlay {
        position: absolute;
        background: white;
        opacity: 1;
    }
    
    #videoContainer {
        position: absolute;
        overflow: hidden;

       }

    
    #videos {
        position: relative;
        border-collapse: collapse;
}





th{

    background-image: url("seafront/seafront_full/twolevels/level3/pics/01_01_8.jpg");
    background-size:     cover; 
    padding:0; margin:0;
}

tr{
    padding:0; margin:0;
}




